
/* Основные стили */
body {
    background-color: #222222;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}

.scrolled{
    background-color: #222222;
}

section {
    width: 100%; /* Секции занимают 100% доступного пространства по ширине */
    height: auto; /* Высота секций адаптивная */
    box-sizing: border-box;
}

/* Верхнее меню (header) */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px 5%;
    width: 100%; /* Header занимает 100% доступного пространства по ширине */
    z-index: 999;
    box-sizing: border-box;
}

.menu_wrapper{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.menu_left {
    font-family: 'Prata', serif;
    font-size: 36px;
    flex: 0 1 auto; /* Ограничиваем ширину в соответствии с содержимым */
    text-align: left;
    white-space: nowrap; /* Предотвращаем перенос текста */
    /* width: 30%; */
}

.menu_right {
    display: flex;
    flex: 1 1 auto;
    /* justify-content: flex-end; */
    justify-content: space-around;
    align-items: center;
    text-align: right;
    /* max-width: calc(100% - 700px); Ограничиваем ширину, чтобы не перекрывать main_image */
    overflow: hidden; /* Предотвращаем переполнение */
}

.menu_right ul {
    display: flex; /* Возвращаем список в одну строку */
    list-style-type: none; /* Убираем маркеры списка */
    gap: 30px;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 16px;
    flex-wrap: wrap; /* Адаптивное поведение на маленьких экранах */
}

.menu_right li {
    display: inline-block;
}

/* Секция main */
.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Прижимаем элементы, включая main_text, к нижнему краю */
    flex-wrap: nowrap;
    padding: 0 5%; /* Убираем лишние отступы */
    box-sizing: border-box;
}

.main_text {
    flex: 0 1 60%;
    max-width: 600px;
    margin-bottom: 0; /* Убираем лишние отступы снизу */
    padding-top: 244px;
}

.main_text_title {
    font-family: 'Prata', serif;
    font-size: 80px;
    margin: 0 0 20px;
}

.main_text_subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0 0 20px;
}

.main_text_list ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding-left: 0;
}

.main_text_list_item {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px; /* Добавлены отступы между элементами списка */
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    gap: 15px; /* Равномерные отступы между элементами */
}

.list_item_img {
    background-image: url(src/images/tick.png);
    background-size: contain; /* Изображение пропорционально вписывается в контейнер */
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.price {
    font-family: 'Prata', serif;
    font-size: 40px;
    margin: 0;
}

.main_button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FFFFFF; /* Белый фон для кнопок */
    border: none;
    color: #222222;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 30%;
    height: 6rem;
    /* height: 30%; */
}

.main_button:hover {
    background-color: #E0E0E0;
}

.main_image {
    flex: 0 1 40%;
    background-image: url(src/images/main_image.png);
    background-size: cover; /* Картинка растягивается и заполняет весь контейнер */
    background-position: center top; /* Центрируем изображение */
    background-repeat: no-repeat; /* Убираем повторение картинки */
    height: auto;
    aspect-ratio: 1/1; /* Гарантируем правильное соотношение сторон */
    min-height: 100%;
}

/* Секция secondary */
.secondary {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 20px 5%;
    box-sizing: border-box;
    min-height: 500px; /* Минимальная высота секции */
}

.secondary_left_image,
.secondary_right_image {
    flex: 0 1 30%;
    background-size: cover; /* Картинка растягивается и заполняет весь контейнер */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%; /* Устанавливаем высоту, чтобы изображения отображались корректно */
}

.secondary_left_image {
    background-image: url(src/images/secondary_left.png); /* Убедитесь, что путь к картинке правильный */
}

.secondary_right_image {
    background-image: url(src/images/secondary_right.png); /* Убедитесь, что путь к картинке правильный */
}

/* Секция secondary_center */
.secondary_center {
    flex: 0 1 36%;
    max-width: 600px;
    display: flex;
    flex-direction: column; /* Используем столбцы для размещения элементов */
    align-items: flex-start; /* Выравнивание элементов по началу */
    justify-content: flex-start; /* Элементы располагаются сверху секции */
    gap: 20px; /* Отступы между элементами */
    padding: 0 20px; /* Убираем отступы сверху и снизу, оставляем слева и справа */
    box-sizing: border-box;
    background-color: transparent; /* Фон прозрачен */
}

.secondary_text_line {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.secondary_marker {
    background-image: url(src/images/Secondary_marker.png);
    width: 58px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.brake_line {
    width: 100%;
    height: 1px;
    background-color: #55565A;
    margin: 20px 0;
}

.secondary_button {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 78px;
    background-color: #FFFFFF;
    color: #222222;
    border: none;
    margin-top: auto; /* Прижимаем кнопку к низу контейнера */
    cursor: pointer;
    transition: all 0.3s ease;
}

.secondary_button:hover {
    background-color: #E0E0E0;
}

/* Секция form_section */
.form_section {
    padding: 20px 5%;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;
    box-sizing: border-box;
    /* background-color: #FFFFFF; */
    min-height: 500px; /* Устанавливаем минимальную высоту для секции */
}

.form_section_center {
    background-color: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    max-width: 80%; /* Ограничиваем ширину */
    /* height: 90%; Ограничиваем высоту */
    max-height: 90%;
    background-image: url(src/images/Form_building.png); /* Убедитесь, что путь к картинке правильный */
    background-size: contain; /* Картинка пропорционально вписывается в контейнер */
    background-position: right;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: visible;
}

.form_title{
    color: #38535D;
    font-family: Prata;
    font-size: 54px;
    margin-bottom: 45px;
}

form{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

input{
    max-height: 65px;
    height: 65px;
    max-width: 100%;
}

input::placeholder{
    font-size: 24px;
}

.acept_block{
    display: flex;
    align-items: center;
    gap: 13px;
}

.acept{
    font-size: 19px;
}

.form_left {
    flex: 1 1 50%;
    max-width: 600px;
}

.form_button{
    background-color: black;
    color: #FFFFFF;
    width: 100%;
    height: 100px;
    font-size: 24px;
}

.right_wrapper{
    /* width: 100%; */
    width: 50%;
    height: 140%;
    display: flex;
}

.form_right {
    flex: 1 1 50%;
    /* height: auto; */
    background-image: url(src/images/Form_human.png); /* Убедитесь, что путь к картинке правильный */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100%; */
}

.secondary_line{
    /* display: flex; */
    z-index: 99999;
    /* flex-wrap: nowrap; */
    position: relative;
}

/* Footer */
footer {
    /* padding: 20px 5%; */
    /* background-color: #333333; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* box-sizing: border-box; */
    width: 100%; /* Footer занимает 100% доступного пространства по ширине */
    z-index: 9999;
    position: relative;
}

.footer_line {
    width: 100%;
    height: 2px;
    background-color: #D5C9BE;
    margin: 0 0;
    z-index: 9999;
    position: relative;
}

.footer_menu{
    margin: 40px 0;
    z-index: 9999;
    position: relative;
}

.footer_menu ul {
    display: flex; /* Список в одну строку */
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Адаптивное поведение */
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    text-transform: uppercase; /* Текст в верхнем регистре */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic; /* Курсивное начертание текста */
}

.footer_bottom {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
    /* margin-left: 5%; */
}

.footer_bottom_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left_title{
    margin-bottom: 60px;
}

.footer_bottom_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_bottom_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bottom_button{
    margin-bottom: 60px;
    /* width: 30%; */
    font-style: italic;
    height: 6rem;
    width: 100%;
}

.center_icons {
    display: flex;
    justify-content: space-between; /* Равные отступы между элементами */
    gap: 20px;
    flex-wrap: nowrap;
    margin-bottom: 60px;
}

.icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon.insta {
    background-image: url(src/images/Instagram_icon.svg);
}

.icon.tiktok {
    background-image: url(src/images/TikTok_icon.svg);
}

.icon.linked {
    background-image: url(src/images/LinkedIn_icon.svg);
}

.icon.facebook {
    background-image: url(src/images/Facebook_icon.svg);
}

.icon.telegram {
    background-image: url(src/images/Telegram_icon.svg);
}

.icon.youtube {
    background-image: url(src/images/Youtube_icon.svg);
}

/* Контейнер empty_line */
.empty_line {
    width: 100%; /* Контейнер занимает 100% ширины */
    min-height: 100px; /* Минимальная высота в 100px */
    background-color: #222222; /* Цвет совпадает с фоном body */
    box-sizing: border-box; /* Учитываем padding при расчете размера */
}

/* Media Queries для адаптивности */
@media (max-width: 1500px) {
    .form_section_center {
        background-size: cover; /* Фоновая картинка занимает всю высоту блока */
    }

    .form_right{
        background-size: cover; /* Фоновая картинка занимает всю высоту блока */
        /* width: 100%; */
    }
}

@media (max-width: 1024px) {
    .menu {
        flex-wrap: wrap;
    }

    .menu_right {
        max-width: 60%; /* Делаем ширину адаптивной для планшетов */
        flex-wrap: nowrap;
    }

    .main {
        flex-wrap: wrap;
    }

    .secondary {
        flex-wrap: wrap;
    }

    .empty_line {
        min-height: 80px; /* Уменьшаем минимальную высоту на планшетах */
    }

    .main_image {
        background-position: top; /* Совмещаем верх изображения с верхом блока */
        min-height: 100%; /* Изображение занимает всю высоту секции */
    }

    .form_section_center {
        background-size: cover; /* Фоновая картинка занимает всю высоту блока */
    }

    .form_right {
        background-size: cover; /* Фоновая картинка занимает всю высоту блока */
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 770px) {
    .main_image {
        flex: 0 1 100%;
    }

    .menu_right {
        max-width: 100%; /* На мобильных устройствах используем всю ширину */
    }

    .secondary_left_image,
    .secondary_right_image {
        flex: 0 1 100%;
        margin: 10px 0;
    }

    .form_section_center {
        flex-wrap: wrap;
        justify-content: center;
    }

    .empty_line {
        min-height: 60px; /* Уменьшаем минимальную высоту на мобильных устройствах */
    }

    .center_icons {
        justify-content: center;
    }

    .secondary{
        flex-direction: column;
    }

    .form_right{
        display: none;
    }

    .main_text{
        margin-bottom: 5rem;
    }
}