/* Основные стили */
body {
    background-color: #222222;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    box-sizing: border-box;
}

/* Верхнее меню (header) */
.menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px 5%;
    width: 100%;
    z-index: 999;
    background: transparent;
}

.menu_left {
    font-family: 'Prata', serif;
    font-size: 36px;
    flex: 0 1 20%;
    text-align: left;
    margin-left: 5%;
}

.menu_right {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    flex: 0 1 40%;
    text-align: left;
    /* margin-left: auto; Отодвигаем от menu_left */
    margin-left: 0;
}

.menu_list {
    list-style-type: none; /* Убираем маркеры списка */
    display: flex; /* Выравниваем в одну строку */
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu_list_item {
    text-transform: uppercase;
    cursor: pointer;
}

/* Секция main */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 5%; /* Учитываем фиксированное меню */
    /* height: 100vh; Всегда 100% высоты области просмотра */
    height: 1000px;
    /* max-height: 100%; */
    box-sizing: border-box;
}

.main_text {
    flex: 0 1 60%;
    margin-left: 5%;
    max-width: 600px;
}

.main_text_title {
    font-family: 'Prata', serif;
    font-size: 80px;
    margin: 0 0 20px;
}

.main_text_subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0 0 20px;
}

.main_text_list {
    margin: 0 0 20px;
}

.main_text_list ul{
    padding-left: 0;
}

.main_text_list_item {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.list_item_img {
    background-image: url(src/images/tick.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.price {
    font-family: 'Prata', serif;
    font-size: 40px;
    margin: 0 10px;
}

.main_button {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FFFFFF; /* Белый фон для кнопок */
    width: 11rem;
    height: 5.6rem;
    font-weight: bold;
}

.main_image {
    flex: 0 1 40%;
    background-image: url(src/images/main_image.png);
    background-size: cover;
    background-position: center;
    height: 100%; /* Соответствует высоте секции main */
    max-height: 100%;
    /* position: relative; */
    margin-left: 5%; /* Адаптивный отступ слева от main_text */
}

/* Контейнер empty_line */
.empty_line {
    width: 100%;
    height: 100px;
    background-color: #222222; /* Совпадает с цветом body */
    margin: 0; /* Убираем отступы сверху и снизу */
}

/* Секция secondary */
.secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Гарантируем, что контейнеры не перенесутся */
    padding: 20px 5%;
    /* height: 100vh; Всегда 100% высоты области просмотра */
    height: 720px;
    box-sizing: border-box;
}

.secondary_left_image {
    flex: 0 1 30%; /* Занимает 30% доступной ширины */
    height: 100%; /* Соответствует высоте секции secondary */
    background-image: url(src/images/secondary_left.png);
    background-size: cover;
    background-position: center;
    margin-right: 2%; /* Адаптивный отступ справа от secondary_center */
}

.secondary_center {
    flex: 0 1 36%; /* Занимает 36% доступной ширины */
    max-width: 600px;
    text-align: center;
    text-align: left;
}

.secondary_text_line {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    margin-bottom: 40px;
}

.secondary_marker {
    background-image: url(src/images/Secondary_marker.png);
    width: 58px;
    height: 47px;
    background-size: contain;
    background-position: center;
}

.brake_line {
    width: 100%;
    height: 1px;
    background-color: #55565A;
    margin-bottom: 40px;
}

.secondary_button {
    background-color: #FFFFFF; /* Белый фон для кнопки */
    font-size: 20px;
    font-weight: bold;
    width: 100%; /* Соответствует ширине secondary_center */
    height: 78px;
    margin-top: 20px;
}

/* Вернуто отображение всех элементов в secondary_center */
.secondary_center_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary_center_title {
    font-family: 'Prata', serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.secondary_center_description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.secondary_right_image {
    flex: 0 1 30%; /* Занимает 30% доступной ширины */
    height: 100%; /* Соответствует высоте секции secondary */
    background-image: url(src/images/secondary_right.png);
    background-size: cover;
    background-position: center;
    margin-left: 2%; /* Адаптивный отступ слева от secondary_center */
}

/* Секция form_section */
.form_section {
    padding: 20px 5%;
    /* height: 100vh; Всегда 100% высоты области просмотра */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_section_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    background-image: url(src/images/Form_building.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.form_left {
    flex: 1 1 50%;
    max-width: 600px;
}

.form_title {
    font-family: 'Prata', serif;
    font-size: 54px;
    margin-bottom: 20px;
    color: black;
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

.acept_block{
    display: flex;
    color: black;
    font-size: 1rem;
}

.form_button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 100%;
    background-color: black;
    color:#FFFFFF;
    height: 100px;
}

.form_right_secondary {
    flex: 1 1 50%;
    /* width: 100%; */
    /* height: 400px; */
    width: 37rem;
    height: 50rem;
    background-image: url(src/images/Form_human.png);
    background-size: cover;
    background-position: center;
    /* height: 100%; */
    z-index: 1000;
}

/* Footer */
.footer {
    padding: 20px 5%;
    background-color: #333333;
}

.footer_line {
    width: 100%;
    height: 2px;
    background-color: #D5C9BE;
    margin: 10px 0;
}

.footer_menu {
    display: flex;
    justify-content: center;
    gap: 3.75rem;
    flex-wrap: wrap;
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 2.5rem 0;
}

.footer_menu ul{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    gap: 3.75rem;
    flex-wrap: wrap;
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3.75rem;
    margin-bottom: 3rem;
}

.footer_bottom_left{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_title{
    font-family: Prata;
    /* font-size: 36px; */
    font-size: 2.25rem;
}

.left_text{
    /* font-size: 20px; */
    font-size: 1.25rem;
}

.footer_bottom_center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center_icons{
    display: flex;
    gap: 32px;
    /* margin-bottom: 64px; */
    margin-bottom: 3.75rem;
}

.icon{
    width: 32px;
    height: 32px;
}

.insta{
    background-image: url(src/images/Instagram_icon.svg);
    background-size: cover;
}

.tiktok{
    background-image: url(src/images/TikTok_icon.svg);
    background-size: cover;
}

.linked{
    background-image: url(src/images/LinkedIn_icon.svg);
    background-size: cover;
}

.facebook{
    background-image: url(src/images/Facebook_icon.svg);
    background-size: cover;
}

.telegram{
    background-image: url(src/images/Telegram_icon.svg);
    background-size: cover;
}

.youtube{
    background-image: url(src/images/Youtube_icon.svg);
    background-size: cover;
}

.center_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    /* margin-top: 3.75rem; */
}

.footer_bottom_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom_button{
    width: 11rem;
    height: 4.8rem;
    font-style: italic;
    font-size: 20px;
}

.right_text{
    text-align: right;
    font-size: 20px;
}

/* Стили кнопок */
button {
    cursor: pointer;
    background-color: #FFFFFF; /* Белый фон для всех кнопок */
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

/* Переход к секции form_section */
button {
    scroll-behavior: smooth;
}
button[href="#form_section"] {
    display: block;
    text-decoration: none;
}