/* Общие стили */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Контейнер для строк */
.video_grid {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 40px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 10px;
}

/* Строки */
.row {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Видео кусочки */
.video-piece {
  height: 35px;
  object-fit: cover; /* Сохраняем пропорции */
  flex-grow: 1;
  flex-basis: 0;
  max-width: none;
  background-color: grey;
}

/* Уникальная позиция для каждого кусочка видео */
.piece1 {
  object-position: 0% 0%; /* Левый верхний угол */
}

.piece2 {
  object-position: 50% 0%; /* Центр сверху */
}

.piece3 {
  object-position: 100% 0%; /* Правый верхний угол */
}

.piece4 {
  object-position: 50% 50%; /* Центр видео */
}

/* Текстовые элементы */
.text {
  display: inline-block;
  font-size: calc(100px + 0.5vw);
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .text {
    font-size: calc(70px + 0.5vw);
  }

  .video-piece {
    height: 30px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: calc(50px + 0.5vw);
  }

  .video-piece {
    height: 25px;
  }
}